extends layout
block content
	.single_wrap
		h2 Votre compte
		form.form(action='/account' method='POST' enctype='multipart/form-data')
			label(for='name') Nom :
			input(type='text' name='name' value=user.name)
			label(for='email') Adresse email :
			input(type='email' name='email' value=user.email)
			label(for='website') Site Web :
			input(type='url' name='website' placeholder='https://' value=user.website)
			h3 Photo de profil :
			input(type='url' name='avatar' placeholder='https://' value=user.avatar autocomplete='off')
			small Les uploads d'avatar sont actuellement désactivés te temps de trouver une solution d'hébergement viable.
			h3 A propos de vous :
			textarea(name='bio' rows='4' cols='50' maxlength='280')= user.bio
			input(type='submit' class='button' value='Mettre à jour')
