extends layout
block content
	.single_wrap
		if user.lang == 'en'
			nav
				a(href="/settings")
					.sshide General
					.ssshow  settings
				a(href="")
					.ssshow Account
					.sshide  settings
				.animation.start-about
			br
			h2 Your account
			form.form(action='/settings/account' method='POST' enctype='multipart/form-data')
				label(for='name') Name :
				input(type='text' name='name' value=user.name autocomplete='off')
				label(for='email') Email adress :
				input(type='email' name='email' value=user.email autocomplete='off')
				label(for='website') Website :
				input(type='url' name='website' placeholder='https://' value=user.website autocomplete='off' maxlength='256')
				label(for='avatar') Profile picture :<br>
				small Ideal size : 240x240
				input(type='file' name='avatar' accepts='image/png, image/jpeg')
				label(for='banner') Banner picture :<br>
				small Ideal size : 800x160
				input(type='file' name='banner' accepts='image/png, image/jpeg')
				label(for='bio') About section :
				textarea(name='bio' rows='4' cols='50' maxlength='280')= user.bio
				input(type='submit' class='button' value='Update')
		else
			nav
				a(href="/settings")
					.ssshow Paramètres
					.sshide  généraux
				a(href="")
					.sshide Paramètres de
					.ssshow  compte
				.animation.start-about
			br
			h2 Votre compte
			form.form(action='/settings/account' method='POST' enctype='multipart/form-data')
				label(for='name') Nom :
				input(type='text' name='name' value=user.name autocomplete='off')
				label(for='email') Adresse email :
				input(type='email' name='email' value=user.email autocomplete='off')
				label(for='website') Site Web :
				input(type='url' name='website' placeholder='https://' value=user.website autocomplete='off' maxlength='256')
				label(for='avatar') Image de profil :<br>
				small Taille idéale : 240x240
				input(type='file' name='avatar' accepts='image/png, image/jpeg')
				label(for='banner') Image de bannière :<br>
				small Taille idéale : 800x160
				input(type='file' name='banner' accepts='image/png, image/jpeg')
				label(for='bio') A propos de vous :
				textarea(name='bio' rows='4' cols='50' maxlength='280')= user.bio
				input(type='submit' class='button' value='Mettre à jour')
				small Vous devrez peut être actualiser la page pour voir certains changements apparaître.
