include mixins/_loginForm
include mixins/_accountMenu
include mixins/_searchBar
include mixins/_footer
<!DOCTYPE html>
html(lang="fr")
	head
		// Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-165061770-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-165061770-1');
		meta(charset="UTF-8")
		meta(lang="fr")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet' href='/style.css')
		link(rel="shortcut icon" type="image/png" href="/uploads/btz18vt.png")
		meta(property="og:title" content=`${appname} - Le réseau social libre`)
		meta(property="og:type" content="website")
		meta(name="keywords" content=`${appname}, squakr, squackr, squaker, squacker, twitter, nwitter, clone, nathn, free, français, france, open, source, social, network, website`)
		meta(name="og:site_name" content=`${appname} - Le réseau social libre"`)
		meta(property="og:url" content=`${appurl}`)
		meta(property="og:image" content="/uploads/xCsWr5s.png")
		meta(property="og:description" content=`Partagez vos pensées avec ${appname}, le réseau social libre.`)
		meta(name="title" content=`${appname} - Le réseau social libre`)
		meta(name="description" content=`Partagez vos pensées avec ${appname}, le réseau social libre.`)
		meta(name="robots")
		meta(name="google-site-verification" content="70mICW8vQbJt8_ACd4-vf1WocsCj6x5mg-Cl8n4G1Os")
		title #{appname} - Le réseau social libre
		script(src='https://use.fontawesome.com/74eb59777f.js')
		script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
		script
			include scripts/scriptlayout.js
		script(type='text/javascript').
			document.addEventListener("DOMContentLoaded", function(event) {
				dispStatus(`${"#{status}" || "200"}`);
			});

	if !user
		- var theme = 'unset'
	else if user.darkmode
		- var theme = 'dark'
	else
		- var theme = 'light'
	body(data-theme=theme)
		.header
			.wrapper
				#logo
					h1.site_title
						a(href="/")
							img(src="/uploads/xCsWr5s.png" alt=`${appname} Logo` width="25" height="25" style="border-radius: 50%; padding-right: 10px; box-sizing: content-box;")
							| #{appheader}
				#navigation_bar
					if user
						+accountMenu()
					else
						form.form_inline(action='/login' method='POST')
							span
								strong
									a.connexionLink(href="/register" style="color: #2C2F33;") S'inscrire
							span ​ &bull; ​
							span
								strong
									a.connexionLink(href="/login" style="color: #2C2F33;") Se connecter
		br
		.content_area
				.search(width= "270px")
					+searchBar()
				h4(style="color: white; text-align: center;")
					if user && user.lang == 'en'
						#statusen
					else
						#status
				block content
		.footer
			+footer()



