include mixins/_loginForm
include mixins/_accountMenu
include mixins/_searchBar
include mixins/_footer
include mixins/_tweetForm
include mixins/_squakCard
<!DOCTYPE html>
html(lang="fr")
	head
		// Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-165061770-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-165061770-1');
		meta(charset="UTF-8")
		meta(lang="fr")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet' href='/style.css')
		link(rel="shortcut icon" type="image/png" href="/uploads/btz18vt.png")
		meta(property="og:title" content=`Profil de ${reqUser.name || reqUser.username} sur ${appname}`)
		meta(property="og:type" content="website")
		meta(name="keywords" content=`${appname}, squakr, squackr, squaker, squacker, twitter, nwitter, clone, nathn, free, français, france, open, source, social, network, website`)
		meta(name="og:site_name" content=`${appname} - Le réseau social libre`)
		meta(property="og:url" content=`${appurl}`)
		meta(property="og:image" content=`${reqUser.avatar || "/uploads/xCsWr5s.png"}`)
		meta(property="og:description" content=`Découvrez ce que partagent ${reqUser.name || reqUser.username} (@${reqUser.username}) et d'autres sur ${appname}, le réseau libre.`)
		meta(name="title" content=`Profil de ${reqUser.name || reqUser.username} sur ${appname}`)
		meta(name="description" content=`Profil de ${reqUser.name || reqUser.username} sur , le réseau social libre`)
		meta(name="robots")
		meta(name="google-site-verification" content="70mICW8vQbJt8_ACd4-vf1WocsCj6x5mg-Cl8n4G1Os")
		title Profil de #{reqUser.name || reqUser.username} - #{appname}
		script(src='https://use.fontawesome.com/74eb59777f.js')
		script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
		script
			include scripts/scriptlayout.js
			include scripts/copyid.js
		script.
			document.addEventListener("DOMContentLoaded", function(event) {
				dispStatus(`${"#{status}" || "200"}`);
			});

	if !user
		- var theme = 'unset'
	else if user.darkmode
		- var theme = 'dark'
	else
		- var theme = 'light'
	body(data-theme=theme)
		.header
			.wrapper
				#logo
					h1.site_title
						a(href="/")
							img(src="/uploads/xCsWr5s.png" alt=`${appname} Logo` width="25" height="25" style="border-radius: 50%; padding-right: 10px; box-sizing: content-box;")
							| #{appheader}
				#navigation_bar
					if user
						+accountMenu()
					else
						form.form_inline(action='/login' method='POST')
							span
								strong
									a.connexionLink(href="/register" style="color: #2C2F33;") S'inscrire
							span ​ &bull; ​
							span
								strong
									a.connexionLink(href="/login" style="color: #2C2F33;") Se connecter
		br
		.content_area
				.search(width= "270px")
					+searchBar()
				h4(style="color: white; text-align: center;")
					if user && user.lang == 'en'
						#statusen
					else
						#status
				.double_wrap
					.profile_section
						img.profile_avatar(src=`${reqUser.avatar || '/uploads/no-avatar.jpg'}` style="max-height:240px; max-width:240px")
						if (reqUser.verified)
							h2.profile_name(style="font-size:25px") #{reqUser.name || reqUser.username}
								img(src="/uploads/c4ze18c.png" width="30" height="30" style="vertical-align:middle; padding: 0px 0px 5px 5px;" title="Utilisateur vérifié")
						else
							h2.profile_name(style="font-size:25px") #{reqUser.name || reqUser.username}
						h4.profile_username @#{reqUser.username}
							if user && (reqUser.following.map(obj => obj.toString()).includes(user._id.toString())) && reqUser._id.toString() != user._id.toString()
								span.follows_you(style="margin-left: 10px")
									if user.lang == 'en'
										| Follows you
									else
										| Vous suit

						if user
							if user.lang == 'en'
								if (reqUser._id.toString() != user._id.toString())
									if (user.following.map(obj => obj.toString()).includes(reqUser._id.toString()))
										input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button followed_button' value=`Following`)
									else
										input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button follow_button' value=`Follow`)
							else
								if (reqUser._id.toString() != user._id.toString())
									if (user.following.map(obj => obj.toString()).includes(reqUser._id.toString()))
										input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button followed_button' value=`Suivi`)
									else
										input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button follow_button' value=`Suivre`)
						if user && user.lang == 'en'
							if reqUser.followers.length == 1
								h4
									a(href=`/${reqUser.username}/followers` class="followcount") #{reqUser.followers.length} follower
									| &nbsp;&bull;&nbsp;
									if reqUser.following.length - 1 == -1
										a(href=`/${reqUser.username}/following` class="followcount") 0 following
									else
										a(href=`/${reqUser.username}/following` class="followcount") #{reqUser.following.length - 1} following
							else
								h4
									a(href=`/${reqUser.username}/followers` class="followcount") #{reqUser.followers.length} followers
									| &nbsp;&bull;&nbsp;
									if reqUser.following.length - 1 == -1
										a(href=`/${reqUser.username}/following` class="followcount") 0 following
									else
										a(href=`/${reqUser.username}/following` class="followcount") #{reqUser.following.length - 1} following
						else
							if reqUser.followers.length == 1
								h4
									a(href=`/${reqUser.username}/followers` class="followcount") #{reqUser.followers.length} abonné
									| &nbsp;&bull;&nbsp;
									if reqUser.following.length - 1 == -1
										a(href=`/${reqUser.username}/following` class="followcount") 0 abonnements
									else if reqUser.following.length - 1 == 1
										a(href=`/${reqUser.username}/following` class="followcount") #{reqUser.following.length - 1} abonnement
									else
										a(href=`/${reqUser.username}/following` class="followcount") #{reqUser.following.length - 1} abonnements
							else
								h4
									a(href=`/${reqUser.username}/followers` class="followcount") #{reqUser.followers.length} abonnés
									| &nbsp;&bull;&nbsp;
									if reqUser.following.length - 1 == -1
										a(href=`/${reqUser.username}/following` class="followcount") 0 abonnements
									else if reqUser.following.length - 1 == 1
										a(href=`/${reqUser.username}/following` class="followcount") #{reqUser.following.length - 1} abonnement
									else
										a(href=`/${reqUser.username}/following` class="followcount") #{reqUser.following.length - 1} abonnements

						if user && user.lang == 'en'
							h4(style="font-size:14px") Joined #{appname} in #{enmonths[new Date(reqUser.created).getMonth()]} #{new Date(reqUser.created).getFullYear()}
						else
							h4(style="font-size:14px") A rejoint #{appname} en #{months[new Date(reqUser.created).getMonth()]} #{new Date(reqUser.created).getFullYear()}
						if reqUser.bio
							.profile_bio(style="white-space: pre-line; font-weight: bold;")
								| #{reqUser.bio}
							if !reqUser.website
								br
						if reqUser.website
							p
								i.fa.fa-link &nbsp;
								a(href=reqUser.website rel='no_follow' target='_blank' class="user_website")
									if reqUser.website.length > 25
										| #{reqUser.website.replace(/^https?\:\/\//i, "").substring(0, 25)}...
									else
										| #{reqUser.website.replace(/^https?\:\/\//i, "")}
						if user && user.lang == 'en'
							if reqUser.moderator
								img(src="/uploads/badge-community-moderator-1.svg" width="35" height = "35" title="Community moderator")
							if (reqUser.developer)
								img(src="/uploads/dV4jqpv6.png" width = "35" height = "35" title=`Contributed to\nthe devloppement of ${appname}. Thanks !`)
							if reqUser.avatar && !reqUser.avatar.startsWith("/uploads")
								img(src="/uploads/badge-profilepic.svg" width="35" height = "35" title="Added an avatar to his profile")
							if reqUser.banner
								img(src="/uploads/badge-banner-1.svg" width="35" height = "35" title="Added a banner to his profile")
							if reqUser.bio
								img(src="/uploads/badge-desc-1.svg" width="35" height = "35" title="Added a bio to his profile")
							if reqUser.website
								img(src="/uploads/badge-profile-link.svg" width="35" height = "35" title="Added a website to his profile")
							if (tweets[0] || pinned)
								img(src="/uploads/badge-profile-squak-1.svg" width="35" height = "35" title="Posted at least one squak")
							if ((tweets[9] && pinned) || (tweets[10]))
								img(src="/uploads/dth315yw.png" width = "44" title="Posted at least 11 squaks")
							if (likes[0])
								img(src="/uploads/nzVvRMFH.png" width="35" height = "35" title="Liked at least one squak")
							if (likes[10])
								img(src="/uploads/7brhRQ3g.png" width = "44" title="Liked at least 11 squaks")
							if (reqUser.likes > 0)
								img(src="/uploads/badge-profile-likes-1.svg" width="35" height = "35" title="Achieved 1 like on his squaks")
							if (reqUser.likes > 9)
								img(src="/uploads/badge-profile-likes-10.svg" width="35" height = "35" title="Achieved 10 likes on his squaks")
							if (reqUser.likes > 24)
								img(src="/uploads/badge-profile-likes-25.svg" width="35" height = "35" title="Achieved 25 likes on his squaks")
							if (reqUser.likes > 49)
								img(src="/uploads/badge-profile-likes-50.svg" width="35" height = "35" title="Achieved 50 likes on his squaks")
							if (reqUser.likes > 99)
								img(src="/uploads/badge-profile-likes-100.svg" width="35" height = "35" title="Achieved 100 likes on his squaks")
							if (reqUser.likes > 249)
								img(src="/uploads/badge-profile-likes-250.svg" width="35" height = "35" title="Achieved 250 likes on his squaks")
							if (reqUser.likes > 499)
								img(src="/uploads/badge-profile-likes-500.svg" width="35" height = "35" title="Achieved 500 likes on his squaks")
							if (reqUser.likes > 999)
								img(src="/uploads/badge-profile-likes-1000.svg" width="35" height = "35" title="Achieved 1000 likes on his squaks")
							if (reqUser.likes > 4999)
								img(src="/uploads/badge-profile-likes-5000.svg" width="35" height = "35" title="Achieved 5000 likes on his squaks")
							if (((new Date() - new Date(reqUser.created)) / (1000 * 3600 * 24*365) > 1 ))
								img(src="/uploads/badge-years-1.svg" width = "35" height = "35" title="Member for 1 year")
							if (reqUser.confirmed)
								img(src="/uploads/h0rt91tr.png" width = "35" height = "35" title="Confirmed his email address")
						else
							if reqUser.moderator
								img(src="/uploads/badge-community-moderator-1.svg" width="35" height = "35" title="Modérateur de la communauté")
							if (reqUser.developer)
								img(src="/uploads/dV4jqpv6.png" width = "35" height = "35" title=`A été d'une aide précieuse pendant\nle dévelopemment de ${appname}. Merci !`)
							if reqUser.avatar && !reqUser.avatar.startsWith("/uploads")
								img(src="/uploads/badge-profilepic.svg" width="35" height = "35" title="A ajouté un avatar à son profil")
							if reqUser.banner
								img(src="/uploads/badge-banner-1.svg" width="35" height = "35" title="A ajouté une image de bannière à son profil")
							if reqUser.bio
								img(src="/uploads/badge-desc-1.svg" width="35" height = "35" title="A ajouté une biographie à son profil")
							if reqUser.website
								img(src="/uploads/badge-profile-link.svg" width="35" height = "35" title="A ajouté un site web à son profil")
							if (tweets[0] || pinned)
								img(src="/uploads/badge-profile-squak-1.svg" width="35" height = "35" title="A publié au moins un squak")
							if ((tweets[9] && pinned) || (tweets[10]))
								img(src="/uploads/dth315yw.png" width = "44" title="A publié au moins 11 squaks")
							if (likes[0])
								img(src="/uploads/nzVvRMFH.png" width="35" height = "35" title="A liké au moins un squak")
							if (likes[10])
								img(src="/uploads/7brhRQ3g.png" width = "44" title="A liké au moins 11 squaks")
							if (reqUser.likes > 0)
								img(src="/uploads/badge-profile-likes-1.svg" width="35" height = "35" title="A atteint 1 like sur ses squaks")
							if (reqUser.likes > 9)
								img(src="/uploads/badge-profile-likes-10.svg" width="35" height = "35" title="A atteint 10 likes sur ses squaks")
							if (reqUser.likes > 24)
								img(src="/uploads/badge-profile-likes-25.svg" width="35" height = "35" title="A atteint 25 likes sur ses squaks")
							if (reqUser.likes > 49)
								img(src="/uploads/badge-profile-likes-50.svg" width="35" height = "35" title="A atteint 50 likes sur ses squaks")
							if (reqUser.likes > 99)
								img(src="/uploads/badge-profile-likes-100.svg" width="35" height = "35" title="A atteint 100 likes sur ses squaks")
							if (reqUser.likes > 249)
								img(src="/uploads/badge-profile-likes-250.svg" width="35" height = "35" title="A atteint 250 likes sur ses squaks")
							if (reqUser.likes > 499)
								img(src="/uploads/badge-profile-likes-500.svg" width="35" height = "35" title="A atteint 500 likes sur ses squaks")
							if (reqUser.likes > 999)
								img(src="/uploads/badge-profile-likes-1000.svg" width="35" height = "35" title="A atteint 1000 likes sur ses squaks")
							if (reqUser.likes > 4999)
								img(src="/uploads/badge-profile-likes-5000.svg" width="35" height = "35" title="A atteint 5000 likes sur ses squaks")
							if (((new Date() - new Date(reqUser.created)) / (1000 * 3600 * 24*365) > 1 ))
								img(src="/uploads/badge-years-1.svg" width = "35" height = "35" title="Membre depuis 1 an")
							if (reqUser.confirmed)
								img(src="/uploads/h0rt91tr.png" width = "35" height = "35" title="A confirmé son adresse email")
						if user
							if (reqUser._id.toString() == user._id.toString())
								p
									.edit_button
										if user.lang == 'en'
											input(type="button" onclick="window.location.href = '/settings/account';" class='button edit_button' value='Edit your profile')
										else
											input(type="button" onclick="window.location.href = '/settings/account';" class='button edit_button' value='Modifier vos informations')
							if ((user.moderator) && !(reqUser.verified) && (reqUser._id.toString() != user._id.toString()))
								p
									.edit_button
										if user.lang == 'en'
											input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/verify';` class='button edit_button' value='Verify user')
										else
											input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/verify';` class='button edit_button' value='Vérifier l\'utilisateur')
							if ((user.moderator) && (reqUser.confirmed) && !(reqUser.moderator))
								p
									.edit_button
										if user.lang == 'en'
											input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/unconfirm';` class='button edit_button' value='Unconfirm user')
										else
											input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/unconfirm';` class='button edit_button' value='Déconfirmer l\'utilisateur')
							if ((user.moderator) && !(reqUser.confirmed))
								p
									.edit_button
										if user.lang == 'en'
											input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/confirm?mod=true';` class='button edit_button' value='Confirm user')
										else
											input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/confirm?mod=true';` class='button edit_button' value='Confirmer l\'utilisateur')
							if user.devmode
								p
									.edit_button
										if user.lang == 'en'
											input(type="button" onclick=`window.location.href = '/${reqUser.username}/json';` class='button edit_button' value='Access JSON data')
											br
											br
											input(type="button" onclick=`copyID('${reqUser._id}', '${reqUser.username}');` class='button edit_button' value='Copy ID')
										else
											input(type="button" onclick=`window.location.href = '/${reqUser.username}/json';` class='button edit_button' value='Accéder aux données JSON')
											br
											br
											input(type="button" onclick=`copyID('${reqUser._id}', '${reqUser.username}');` class='button edit_button' value='Copier l\'identifiant')
					.feed_section.single_content
						block content
		.footer
			+footer()


