include mixins/_loginForm
include mixins/_accountMenu
<!DOCTYPE html>
html(lang="fr")
	head
		// Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-165061770-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-165061770-1');
		meta(charset="UTF-8")
		meta(lang="fr")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet' href='/style.css')
		link(rel="shortcut icon" type="image/png" href="/uploads/btz18vt.png")
		meta(property="og:title" content=`${squak.author.name || squak.author.username} sur Squakr`)
		meta(property="og:type" content="website")
		meta(name="keywords" content="squakr, squackr, squaker, squacker, twitter, nwitter, clone, nathn, free, français, france, open, source, social, network, website")
		meta(name="og:site_name" content="Squakr")
		meta(property="og:url" content="Squakr.fr")
		meta(property="og:image" content="/uploads/xCsWr5s.png")
		meta(property="og:description" content=`Découvrez ce que partagent ${squak.author.name || squak.author.username} (@${squak.author.username}) et d'autres sur Squakr, le réseau libre.`)
		meta(name="title" content=`${squak.author.name || squak.author.username} sur Squakr`)
		meta(name="description" content=`Découvrez ce que partagent ${squak.author.name || squak.author.username} (@${squak.author.username}) et d'autres sur Squakr, le réseau libre.`)
		meta(name="robots")
		meta(name="google-site-verification" content="70mICW8vQbJt8_ACd4-vf1WocsCj6x5mg-Cl8n4G1Os")
		title #{squak.author.name || squak.author.username} sur Squakr
		script(src='https://use.fontawesome.com/74eb59777f.js')
		script.
			function GetURLParameter(sParam) {
				var sPageURL = window.location.search.substring(1);
				var sURLVariables = sPageURL.split('&');
				for (var i = 0; i < sURLVariables.length; i++) {
					var sParameterName = sURLVariables[i].split('=');
					if (sParameterName[0] == sParam) {
						return sParameterName[1];
					}
				}
			}

			function GetErrorString(err) {
				if (err == '100') return 'Squak non trouvé'
				if (err == '101') return 'Votre lien de confirmation n\'est pas valide. Si votre lien est le bon, veuillez envoyer un email à contact@squakr.fr.'
				if (err == '102') return 'Votre squak ne peut pas être vide'
				if (err == '103') return 'L\'envoi de l\'image a échoué, vérifiez qu\'elle fasse moins de 10 Mo ainsi que son format.\nSi le problème persiste, veuillez contacter un administatreur.'
				if (err == '104') return 'L\'envoi du squak a échoué. Si le problème persiste, veuillez contacter un administatreur.'
				if (err == '105') return 'L\'envoi de la vidéo a échoué, vérifiez qu\'elle fasse moins de 100 Mo ainsi que son format.\nSi le problème persiste, veuillez contacter un administatreur.'
				if (err == '200') return 'Le nom d\'utilisateur ne peut pas être vide'
				if (err == '201') return 'Le nom d\'utilisateur ne peut pas contenir d\'espaces'
				if (err == '202') return 'Le nom d\'utilisateur ne peut pas contenir de caractères spéciaux'
				if (err == '203') return 'L\'email ne peut pas être vide'
				if (err == '204') return 'L\'email spécifié n\'est pas valide'
				if (err == '205') return 'Le mot de passe ne peut pas être vide'
				if (err == '206') return 'La confirmation de mot de passe ne peut pas être vide'
				if (err == '207') return 'Les mots de passe ne correspondent pas'
				if (err == '208') return 'Un utilisateur est déjà inscrit avec ce nom d\'utilisateur'
				if (err == '209') return 'Un utilisateur est déjà inscrit avec cette adresse email'
				if (err == '210') return 'Le nom d\'utilisateur ne peut pas contenir plus de 16 caractères'
				if (err == '300') return 'La connexion a échoué, veuillez réessayer'
				if (err == '301') return 'Vous devez être connecté pour effectuer cette action'
				if (err == '400') return 'La recherche ne peut pas être vide'
				if (err == '402') return 'Vous n\'avez pas assez de permissions pour faire ça.'
				return;
			}

			function GetErrorStringEn(err) {
				if (err == '100') return 'Squak not found'
				if (err == '101') return 'Confirmation link not valid. If you are sure this is the right link, please send a message to contact@squakr.fr.'
				if (err == '102') return 'Your squak cannot be blank'
				if (err == '103') return 'Image upload failed, please verify its format and its size (max : 10 Mo).\nIfthe problem persists, please contact an administrator.'
				if (err == '104') return 'Squak upload failed. If the problem persists, please contact an administrator.'
				if (err == '105') return 'Video upload failed, please verify its format and its size (max : 100 Mo).\nIf the problem persists, please contact an administrator.'
				if (err == '200') return 'The username cannot be blank'
				if (err == '201') return 'The usermane connot contain spaces'
				if (err == '202') return 'The username can only contain letters, numbers and underscores'
				if (err == '203') return 'The email cannot be blank'
				if (err == '204') return 'The email is not valid'
				if (err == '205') return 'The password cannot be blank'
				if (err == '206') return 'The password confirmation cannot be blank'
				if (err == '207') return 'The passwords don\'t match'
				if (err == '208') return 'An user is already registered with this username'
				if (err == '209') return 'An user is already registered with this email'
				if (err == '300') return 'The connection failed, please retry'
				if (err == '301') return 'You have to be logged in to do this'
				if (err == '400') return 'The search query cannot be blank'
				if (err == '402') return 'You don\'t have enough permissions to do this.'
				return;
			}

			function GetMsgString(msg) {
				if (msg == '200') return 'Votre email a bien été confirmé.'
				if (msg == '201') return 'L\'ID a été copié.'
				return;
			}

			function GetMsgStringEn(msg) {
				if (msg == '200') return 'The email has been confirmed.'
				if (msg == '201') return 'The ID has been copied.'
				return;
			}

			// The function actually applying the offset
			function offsetAnchor() {
				if (location.hash.length !== 0) {
					window.scrollTo(window.scrollX, window.scrollY - 300);
				}
			}

			// This will capture hash changes while on the page
			window.addEventListener("hashchange", offsetAnchor);
			window.setTimeout(offsetAnchor, 1);
	body
		.header
			.wrapper
				#logo
					h1.site_title
						a(href="/")
							img(src="/uploads/xCsWr5s.png" alt="Squakr.fr Logo" width="25" height="25" style="border-radius: 50%; padding-right: 10px; box-sizing: content-box;")
							| Squakr.fr
				#navigation_bar
					if user
						+accountMenu()
					else
						form.form_inline(action='/login' method='POST')
							span
								strong
									a(href="/register" style="color: #2C2F33;") S'inscrire
							span ​ &bull; ​
							span
								strong
									a(href="/login" style="color: #2C2F33;") Se connecter
		<br/>
		.content_area
				.search(width= "270px")
					form(action="/search")
						if user && user.lang == "en"
							input.searchTerm(type='text' placeholder='Search an user...' name="query" autocomplete="off")
						else
							input.searchTerm(type='text' placeholder='Rechercher un utilisateur...' name="query" autocomplete="off")
						button.searchButton(type='submit')
							i.fa.fa-search
				h4(style="color: white; text-align: center;")
					if user && user.lang == 'en'
						script(type="text/javascript").
							var err = ['301', '400', '402', '100', '101', '102', '103', '104', '105']
							var msg = ['200','201']
							if(err.includes(GetURLParameter('err')))
								document.write(GetErrorStringEn(GetURLParameter('err')))
							if(msg.includes(GetURLParameter('msg')))
								document.write(GetMsgStringEn(GetURLParameter('msg')))
					else
						script(type="text/javascript").
							var err = ['301', '400', '402', '100', '101', '102', '103', '104', '105']
							var msg = ['200','201']
							if(err.includes(GetURLParameter('err')))
								document.write(GetErrorString(GetURLParameter('err')))
							if(msg.includes(GetURLParameter('msg')))
								document.write(GetMsgString(GetURLParameter('msg')))
				block content
		.footer
			p
				small © 2020 Squakr &bull; v1.7.5.4 <br/>
					a(href='https://discord.gg/C8WPK2B' target='_blank' style="text-decoration: none; color: #fff;") Discord
					a(href='https://github.com/Nathn/Squakr' target='_blank' style="text-decoration: none; color: #fff;")  - Github
					a(href='https://twitter.com/Squakr_fr' target='_blank' style="text-decoration: none; color: #fff;")  - Twitter
					a(href='/cgu' target='_blank' style="text-decoration: none; color: #fff;")  - CGU <br/>


