extends layoutprofile
include mixins/_tweetForm
include mixins/_tweetCard
block content
	.double_wrap
		.profile_section
			img.profile_avatar(src=`${reqUser.avatar || '/uploads/no-avatar.jpg'}` style="max-height:240px; max-width:240px" height="240px" width="240px")
			if (reqUser.verified)
				h2.profile_name #{reqUser.name || reqUser.username}
					img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="30" height="30" style="vertical-align:middle; padding: 0px 0px 5px 5px;" title="Utilisateur vérifié")
			else
				h2.profile_name #{reqUser.name || reqUser.username}
			h4 @#{reqUser.username}
			h5(style="padding-bottom: 5px") A rejoint Squakr en #{months[new Date(reqUser.created).getMonth()]} #{new Date(reqUser.created).getFullYear()}
			p.profile_bio(style="white-space: pre-line") #{reqUser.bio || ''}
			if reqUser.website
				p.profile_url
					a(href=reqUser.website rel='no_follow' target='_blank')= reqUser.website
			<br/>
			if reqUser.moderator
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-community-moderator-1.svg" width="35" height = "35" title="Modérateur de la communauté")
			if reqUser.avatar
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-author-meme-1.svg" width="35" height = "35" title="A ajouté un avatar à son profil")
			if reqUser.banner
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-author-image-1.svg" width="35" height = "35" title="A ajouté une image de bannière à son profil")
			if reqUser.bio
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-author-story-1.svg" width="35" height = "35" title="A ajouté une biographie à son profil")
			if (tweets[0])
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-forum-1.svg" width="35" height = "35" title="A publié au moins un squak")
			if (tweets[10])
				img(src="https://i.postimg.cc/dth315yw/badge-forum-1.png" width = "44" title="A publié au moins 11 squaks")
			if (((new Date() - new Date(reqUser.created)) / (1000 * 3600 * 24*365) > 1 ))
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-years-1.svg" width = "35" height = "35" title="Membre depuis 1 an")
			if user
				if (reqUser._id.toString() == user._id.toString())
					p
						.edit_button
							input(type="button" onclick="window.location.href = '/account';" class='button edit_button' value='Modifier vos informations')
		.feed_section.single_content
			div(style=`width:800px;height: 161px; box-shadow: 0 0 8px 8px white inset; background:url('${reqUser.banner || "/uploads/no-banner.jpg"}')`)
			nav
				a(href=`/${reqUser.username}`) squaks
				a(href="") Likes
				.animation.start-about
			<br/>
			each tweet in likes
				+tweetCard(tweet)



