extends layoutprofile
include mixins/_tweetForm
include mixins/_tweetCard
block content
	.double_wrap
		.profile_section
			img.profile_avatar(src=`${reqUser.avatar || '/uploads/no-avatar.jpg'}` style="max-height:240px; max-width:240px" height="240px" width="240px")
			if (reqUser.equals('5f1d6f018c3e615140eb1bac') || reqUser.equals('5f1daf2680067f0017a9a7e8') || reqUser.equals('5f1ea87352f68c001720c9a3') || reqUser.equals('5f1efa150d15b1001731f0be'))
				h2.profile_name #{reqUser.name || reqUser.username}
					img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="30" height="30" style="vertical-align:middle; padding: 0px 0px 5px 5px;" title="Utilisateur vérifié")
			else
				h2.profile_name #{reqUser.name || reqUser.username}
			h4 @#{reqUser.username}
			h5(style="padding-bottom: 5px") A rejoint Nwittr en #{months[new Date(reqUser.created).getMonth()]} #{new Date(reqUser.created).getFullYear()}
			p.profile_bio(style="white-space: pre-line") #{reqUser.bio || ''}
			if reqUser.website
				p.profile_url
					a(href=reqUser.website rel='no_follow' target='_blank')= reqUser.website
			if user
				if (reqUser._id.toString() == user._id.toString())
					p
						.edit_button
							input(type="button" onclick="window.location.href = '/account';" class='button edit_button' value='Modifier vos informations')
			input(type="button" onclick=`window.location.href = '/${reqUser.username}/likes';` class='button edit_button' value='Nweets likés')
		.feed_section.single_content
			if user
				if (reqUser._id.toString() == user._id.toString())
					+tweetForm()
				//- - const items = [1,2,3,4,5,6,7,8,9]
				each tweet in tweets
					+tweetCard(tweet)
			else
				each tweet in tweets
					+tweetCard(tweet)
