extends layoutprofile
include mixins/_tweetForm
include mixins/_tweetCard
block content
	.double_wrap
		.profile_section
			img.profile_avatar(src=`${reqUser.avatar || '/uploads/no-avatar.jpg'}` style="max-height:240px; max-width:240px" height="240px" width="240px")
			if (reqUser.verified)
				h2.profile_name(style="font-size:25px") #{reqUser.name || reqUser.username}
					img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="30" height="30" style="vertical-align:middle; padding: 0px 0px 5px 5px;" title="Utilisateur vérifié")
			else
				h2.profile_name(style="font-size:25px") #{reqUser.name || reqUser.username}
			h4 @#{reqUser.username}

			if user
				if user.lang == 'en'
					if (reqUser._id.toString() != user._id.toString())
						if (user.following.map(obj => obj.toString()).includes(reqUser._id.toString()))
							input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button followed_button' value=`Following`)
						else
							input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button follow_button' value=`Follow`)
				else
					if (reqUser._id.toString() != user._id.toString())
						if (user.following.map(obj => obj.toString()).includes(reqUser._id.toString()))
							input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button followed_button' value=`Suivi`)
						else
							input(type="button" onclick=`window.location.href = "/api/users/${reqUser._id}/follow";` class='button follow_button' value=`Suivre`)
			if user && user.lang == 'en'
				if reqUser.followers.length == 1
					h4
						a(href=`/${reqUser.username}/followers` style="text-decoration: none; color: #333333;") #{reqUser.followers.length} follower
						if reqUser.following.length - 1 == -1
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") 0 following
						else
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") #{reqUser.following.length - 1} following
				else
					h4
						a(href=`/${reqUser.username}/followers` style="text-decoration: none; color: #333333;") #{reqUser.followers.length} followers
						if reqUser.following.length - 1 == -1
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") 0 following
						else
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") #{reqUser.following.length - 1} following
			else
				if reqUser.followers.length == 1
					h4
						a(href=`/${reqUser.username}/followers` style="text-decoration: none; color: #333333;") #{reqUser.followers.length} abonné
						if reqUser.following.length - 1 == -1
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") 0 abonnements
						else if reqUser.following.length - 1 == 1
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") #{reqUser.following.length - 1} abonnement
						else
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") #{reqUser.following.length - 1} abonnements
				else
					h4
						a(href=`/${reqUser.username}/followers` style="text-decoration: none; color: #333333;") #{reqUser.followers.length} abonnés
						if reqUser.following.length - 1 == -1
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") 0 abonnements
						else if reqUser.following.length - 1 == 1
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") #{reqUser.following.length - 1} abonnement
						else
							| &nbsp;&middot;&nbsp;
							a(href=`/${reqUser.username}/following` style="text-decoration: none; color: #333333;") #{reqUser.following.length - 1} abonnements

			if user && user.lang == 'en'
				h4(style="font-size:14px") Joined Squakr in #{enmonths[new Date(reqUser.created).getMonth()]} #{new Date(reqUser.created).getFullYear()}
			else
				h4(style="font-size:14px") A rejoint Squakr en #{months[new Date(reqUser.created).getMonth()]} #{new Date(reqUser.created).getFullYear()}
			if reqUser.bio
				p.profile_bio(style="white-space: pre-line; font-weight: bold;")
					| #{reqUser.bio}
			if reqUser.website
				p
					i.fa.fa-link &nbsp;
					a(href=reqUser.website rel='no_follow' target='_blank' style="text-decoration: none; color: #1675db; font-weight: bold; word-break: break-all;")
						if reqUser.website.length > 25
							| #{reqUser.website.replace(/^https?\:\/\//i, "").substring(0, 25)}...
						else
							| #{reqUser.website.replace(/^https?\:\/\//i, "")}

			if reqUser.moderator
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-community-moderator-1.svg" width="35" height = "35" title="Modérateur de la communauté")
			if (reqUser.developer)
				img(src="https://i.postimg.cc/dV4jqpv6/badge-devlopement.png" width = "35" height = "35" title="A été d'une aide précieuse pendant\nle dévelopemment de Squakr. Merci !")
			if reqUser.avatar
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-author-meme-1.svg" width="35" height = "35" title="A ajouté un avatar à son profil")
			if reqUser.banner
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-author-image-1.svg" width="35" height = "35" title="A ajouté une image de bannière à son profil")
			if reqUser.bio
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-author-story-1.svg" width="35" height = "35" title="A ajouté une biographie à son profil")
			if reqUser.website
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-author-embed-1.svg" width="35" height = "35" title="A ajouté un site web à son profil")
			if (tweets[0])
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-forum-1.svg" width="35" height = "35" title="A publié au moins un squak")
			if (tweets[10])
				img(src="https://i.postimg.cc/dth315yw/badge-forum-1.png" width = "44" title="A publié au moins 11 squaks")
			if (likes[0])
				img(src="https://i.postimg.cc/nzVvRMFH/badge-voting-1.png" width="35" height = "35" title="A liké au moins un squak")
			if (likes[10])
				img(src="https://i.postimg.cc/7brhRQ3g/badge-voting-11.png" width = "44" title="A liké au moins 11 squaks")
			if (reqUser.likes > 0)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-1a.svg" width="35" height = "35" title="A atteint 1 like sur ses squaks")
			if (reqUser.likes > 9)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-1b.svg" width="35" height = "35" title="A atteint 10 likes sur ses squaks")
			if (reqUser.likes > 24)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-1c.svg" width="35" height = "35" title="A atteint 25 likes sur ses squaks")
			if (reqUser.likes > 49)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-1d.svg" width="35" height = "35" title="A atteint 50 likes sur ses squaks")
			if (reqUser.likes > 99)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-1e.svg" width="35" height = "35" title="A atteint 100 likes sur ses squaks")
			if (reqUser.likes > 249)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-2.svg" width="35" height = "35" title="A atteint 250 likes sur ses squaks")
			if (reqUser.likes > 499)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-3.svg" width="35" height = "35" title="A atteint 500 likes sur ses squaks")
			if (reqUser.likes > 999)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-4.svg" width="35" height = "35" title="A atteint 1000 likes sur ses squaks")
			if (reqUser.likes > 4999)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-ranking-5.svg" width="35" height = "35" title="A atteint 5000 likes sur ses squaks")
			if (((new Date() - new Date(reqUser.created)) / (1000 * 3600 * 24*365) > 1 ))
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-years-1.svg" width = "35" height = "35" title="Membre depuis 1 an")
			if (reqUser.confirmed)
				img(src="https://www.writerranks.com/wp-content/uploads/2019/01/badge-community-verified-1.svg" width = "35" height = "35" title="A confirmé son adresse email")
			if user
				if (reqUser._id.toString() == user._id.toString())
					p
						.edit_button
							if user.lang == 'en'
								input(type="button" onclick="window.location.href = '/account';" class='button edit_button' value='Edit your profile')
							else
								input(type="button" onclick="window.location.href = '/account';" class='button edit_button' value='Modifier vos informations')
				if ((user.moderator) && !(reqUser.verified) && (reqUser._id.toString() != user._id.toString()))
					p
						.edit_button
							if user.lang == 'en'
								input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/verify';` class='button edit_button' value='Verify user')
							else
								input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/verify';` class='button edit_button' value='Vérifier l\'utilisateur')
				if ((user.moderator) && !(reqUser.confirmed))
					p
						.edit_button
							if user.lang == 'en'
								input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/confirm';` class='button edit_button' value='Confirm user')
							else
								input(type="button" onclick=`window.location.href = '/api/users/${reqUser._id}/confirm';` class='button edit_button' value='Confirmer l\'utilisateur')
		.feed_section.single_content
			if user
				if (reqUser._id.toString() == user._id.toString())
					+tweetForm()
				else
					div(style=`width:800px;height: 161px; box-shadow: 0 0 8px 8px white inset; background:url('${reqUser.banner || "/uploads/no-banner.jpg"}')`)
				nav
					a(href="") Squaks
					a(href=`/${reqUser.username}/likes`) Likes
					.animation.start-home
				<br/>
				//- - const items = [1,2,3,4,5,6,7,8,9]
				each squak in tweets
					+tweetCard(squak)
			else
				div(style=`width:800px;height: 161px; box-shadow: 0 0 8px 8px white inset; background:url('${reqUser.banner || "/uploads/no-banner.jpg"}')`)
				nav
					a(href="#") Squaks
					a(href=`/${reqUser.username}/likes`) Likes
					.animation.start-home
				<br/>
				each squak in tweets
					+tweetCard(squak)
