extends layoutsingle
block content
	.single_wrap
		.single_tweet
			p= tweet.tweet
			.tweet_avatar(style="display: inline;")
				a(href=`/${tweet.author.username}`)
					img(src=`/uploads/${tweet.author.avatar || 'no-avatar.jpg'}` width="100" height="100" style="vertical-align:middle; padding: 0px 0px 0px 0px;")
			p.tweet_meta(style="display: inline; padding: 0px 0px 0px 10px;")
				a(href=`/${tweet.author.username}`)
					if (tweet.author.equals('5f1d6f018c3e615140eb1bac') || tweet.author.equals('5f1daf2680067f0017a9a7e8'))
						strong #{tweet.author.name || tweet.author.username}
						img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Twitter_Verified_Badge.svg/1200px-Twitter_Verified_Badge.svg.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{tweet.author.name || tweet.author.username}
				span  @#{tweet.author.username}
				span  &middot;
				span= moment(tweet.created).fromNow()
