extends layoutsingle
include mixins/_replyForm
include mixins/_replyCard
include mixins/_tweetCard
block content
	.single_wrap
		.single_tweet
			if parent
				+tweetCard(parent)
			else
				h5 Le squak d'origine a été supprimé
			p(style="white-space: pre-line")
				| !{squak.content || squak.tweet}
			.tweet_avatar(style="display: inline;")
				a(href=`/${squak.author.username}`)
					img(src=`${squak.author.avatar || '/uploads/no-avatar.jpg'}` width="100" height="100" style="vertical-align:middle; padding: 0px 0px 0px 0px;")
			p.tweet_meta(style="display: inline; padding: 0px 0px 0px 10px;")
				a(href=`/${squak.author.username}`)
					if (squak.author.verified)
						strong #{squak.author.name || squak.author.username}
						img(src="/uploads/c4ze18c.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{squak.author.name || squak.author.username}
				span  @#{squak.author.username}
				span  &middot;
				span(style="padding-left: 3px")=  moment(squak.created).fromNow()
				span  &middot;
				if user
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(squak._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{squak.likes.toString()}
				else
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						button(type='submit' name='heart' style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{squak.likes.toString()}
		if user
			+replyForm(squak)
		else
			<br/>
		each reply in replies
			+replyCard(reply)
