extends layoutsingle
include mixins/_replyForm
include mixins/_replyCard
block content
	.single_wrap
		.single_tweet
			p(style="white-space: pre-line")
				#{tweet.tweet.replace(/\B\@([\w\-]+)/gim, function(match, name){post=`<a href="/${name}">${match}</a>`; return post;})}
			.tweet_avatar(style="display: inline;")
				a(href=`/${tweet.author.username}`)
					img(src=`${tweet.author.avatar || '/uploads/no-avatar.jpg'}` width="100" height="100" style="vertical-align:middle; padding: 0px 0px 0px 0px;")
			p.tweet_meta(style="display: inline; padding: 0px 0px 0px 10px;")
				a(href=`/${tweet.author.username}`)
					if (tweet.author.verified)
						strong #{tweet.author.name || tweet.author.username}
						img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{tweet.author.name || tweet.author.username}
				span  @#{tweet.author.username}
				span  &middot;
				span(style="padding-left: 3px")=  moment(tweet.created).fromNow()
				span  &middot;
				if user
					form.heart(method='POST' action=`/api/tweets/${tweet._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(tweet._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{tweet.likes.toString()}
				else
					form.heart(method='POST' action=`/api/tweets/${tweet._id}/heart` style="display: inline;")
						button(type='submit' name='heart' style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{tweet.likes.toString()}
		if user
			+replyForm(tweet)
		else
			<br/>
		each reply in replies
			+replyCard(reply)
