extends layout
block content
	.single_wrap
		.single_nweet
			p= nweet.nweet
			.nweet_avatar(style="display: inline;")
				a(href=`/${nweet.author.username}`)
					img(src=`/uploads/${nweet.author.avatar || 'no-avatar.jpg'}` width="100" height="100" style="vertical-align:middle;")
			p.nweet_meta(style="display: inline;")
				a(href=`/${nweet.author.username}`)
					strong    #{nweet.author.name || nweet.author.username}
				span  @#{nweet.author.username}
				span  &middot;
				span= moment(nweet.created).fromNow()
