extends layoutsingle
include mixins/_replyForm
include mixins/_replyCard
block content
	.single_wrap
		.single_tweet
			p(style="white-space: pre-line")
				| !{squak.content || squak.tweet}
				if (squak.image)
					if (squak.tweet)
						br
					.maxheight
						img(src=squak.image width="400px" style="border-radius: 10px; border: 1px solid #000;")
				if (squak.video)
					.video-mask-single
						video(controls width="100%")
							source(src=`${squak.video}` type="video/mp4")
			.tweet_avatar(style="display: inline;")
				a(href=`/${squak.author.username}`)
					img(src=`${squak.author.avatar || '/uploads/no-avatar.jpg'}` width="100" height="100" style="vertical-align:middle; padding: 0px 0px 0px 0px;")
			.tweet_meta(style="display: inline; padding: 0px 0px 0px 10px;")
				a(href=`/${squak.author.username}`)
					if (squak.author.verified)
						strong #{squak.author.name || squak.author.username}
						img(src="/uploads/c4ze18c.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{squak.author.name || squak.author.username}
				span  @#{squak.author.username}
				span(style="padding: 0 8px;") &bull;
				span= moment(squak.created).fromNow()
				span(style="padding: 0 5px;") &bull;
				if user
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(squak._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding: 0 7px;" title="Like !")
							i.fa.fa-heart
							if squak.likes > 0
								small  #{squak.likes.toString()}
					if (squak.author.equals(user._id))
						if user.pinned
							if user.lang == 'en'
								form.pin(method='POST' action=`/pin/${squak._id}` style="display: inline;")
									- const pinClass = squak.author.pinned.toString() == squak._id ? 'pinned' : ''
									- const titlePin = squak.author.pinned.toString() == squak._id ? 'Pinned' : 'Pin to profile'
									button(type='submit' name='pin' class=pinClass style="border:none; background: none; cursor: pointer; padding: 0 5px;" title=titlePin)
										i.fa.fa-map-pin
							else
								form.pin(method='POST' action=`/pin/${squak._id}` style="display: inline;")
									- const pinClass = squak.author.pinned.toString() == squak._id ? 'pinned' : ''
									- const titlePin = squak.author.pinned.toString() == squak._id ? 'Épinglé' : 'Épingler au profil'
									button(type='submit' name='pin' class=pinClass style="border:none; background: none; cursor: pointer; padding: 0 5px;" title=titlePin)
										i.fa.fa-map-pin
						else
							if user.lang == 'en'
								form.pin(method='POST' action=`/pin/${squak._id}` style="display: inline;")
									button(type='submit' name='pin' style="border:none; background: none; cursor: pointer;" title="Pin to profile")
										i.fa.fa-map-pin
							else
								form.pin(method='POST' action=`/pin/${squak._id}` style="display: inline;")
									button(type='submit' name='pin' style="border:none; background: none; cursor: pointer;" title="Épingler au profil")
										i.fa.fa-map-pin
						if user.lang == 'en'
							form.delete(method='GET' action=`/delete/${squak._id}` style="display: inline; padding-right: 10px;")
								button(type='submit' name='delete' style="border:none; background: none; cursor: pointer;" title="Delete")
									i.fa.fa-trash
						else
							form.delete(method='GET' action=`/delete/${squak._id}` style="display: inline; padding-right: 10px;")
								button(type='submit' name='delete' style="border:none; background: none; cursor: pointer;" title="Supprimer")
									i.fa.fa-trash
					else
						if user.moderator
							if user.lang == 'en'
								form.delete(method='GET' action=`/delete/${squak._id}` style="display: inline; padding-right: 10px;")
									button(type='submit' name='delete' style="border:none; background: none; cursor: pointer;" title="Delete")
										i.fa.fa-trash
							else
								form.delete(method='GET' action=`/delete/${squak._id}` style="display: inline; padding-right: 10px;")
									button(type='submit' name='delete' style="border:none; background: none; cursor: pointer;" title="Supprimer")
										i.fa.fa-trash
						else
							if user.lang == 'en'
								form.report(method='GET' action=`/report/${squak._id}` style="display: inline; padding-right: 10px;")
									button(type='submit' name='report' style="border:none; background: none; cursor: pointer;" title="Report")
										i.fa.fa-exclamation-triangle
							else
								form.report(method='GET' action=`/report/${squak._id}` style="display: inline; padding-right: 10px;")
									button(type='submit' name='report' style="border:none; background: none; cursor: pointer;" title="Signaler")
										i.fa.fa-exclamation-triangle
					if user.devmode
						.reply_button(style="display: inline; padding-left: 10px")
							if user.lang == 'en'
								input(type="button" onclick=`window.location.href = '/squak/${squak._id}/json';` class='button reply_button' value='Access JSON data' style="display: inline;")
								| &#32;
								input(type="button" onclick=`window.location.href = '/id/${squak._id}';` class='button reply_button' value='Copy ID' style="display: inline;")
							else
								input(type="button" onclick=`window.location.href = '/squak/${squak._id}/json';` class='button reply_button' value='Accéder aux données JSON' style="display: inline;")
								| &#32;
								input(type="button" onclick=`window.location.href = '/id/${squak._id}';` class='button reply_button' value='Copier l\'identifiant' style="display: inline;")
				else
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						button(type='submit' name='heart' style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{squak.likes.toString()}
		br
		if user
			+replyForm(squak)
		each reply in replies
			+replyCard(reply)
