mixin accountMenu()
	a(href=`/${user.username}` class='nav_link') #{(user.name || user.username).split(' ')[0]}
	.dropdown
		.dropbtn
			a(href=`/${user.username}`)
				img.avatar_top(src=`${user.avatar || '/uploads/no-avatar.jpg'}`)
		.dropdown-content
			a(href='/') Acceuil
			a(href=`/${user.username}`) Profil
			a(href='/account') Paramètres
			a(href='/logout') Déconnection
