mixin accountMenu()
	.notification
		i.fa.fa-bell(style="font-size: 22px;")
		.counter
			| 3
	a(href=`/${user.username}` class='nav_link') #{(user.name || user.username)}
	.dropdown
		.dropbtn
			img.avatar_top(src=`${user.avatar || '/uploads/no-avatar.jpg'}`)
		.dropdown-content
			if user.lang == 'en'
				a(href='/') Home
				a(href=`/${user.username}`) Profile
				a(href=`/${user.username}/likes`) Likes
				a(href='/settings') Settings
				a(href='/logout') Log out
			else
				a(href='/') Accueil
				a(href=`/${user.username}`) Profil
				a(href=`/${user.username}/likes`) Likes
				a(href='/settings') Paramètres
				a(href='/logout') Déconnection
