mixin replyCard(reply)
	.tweet_card.tweet_hover
		.reply_avatar
			a(href=`/${reply.author.username}` name=`${reply._id}`)
				img(src=`${reply.author.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			.reply_author_name(style="display: inline;")
				a(href=`/${reply.author.username}` style="text-decoration: none;")
					if (reply.author.verified)
						strong(style="vertical-align:middle;") #{reply.author.name || reply.author.username}
						img(src="/uploads/c4ze18c.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{reply.author.name || reply.author.username}
				a(href=`/${reply.author.username}` style="text-decoration: none; color: #333333")
					span  @#{reply.author.username}
				//- div.block
					//- a.overlay(href=`/reply/${reply._id}`)
				.inner
					.the_reply(style="color: #000")
						| !{reply.content || reply.reply}
					if (reply.image)
						if (reply.reply)
							br
						.maxheightreply
							img(src=reply.image width="400px" height="100%" style="border-radius: 10px; border: 1px solid #000;" draggable="false")
					if (reply.video)
						.video-mask-reply
							video(controls crossorigin playsinline width="300")
								source(src=`${reply.video}` type="video/mp4")
			.tweet_meta
				if user
					form.heart(method='POST' action=`/api/replies/${reply._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(reply._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{reply.likes.toString()}
				else
					form.heart(method='POST' action=`/api/tweets/${reply._id}/heart` style="display: inline;")
						button(type='submit' name='heart' style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{reply.likes.toString()}
				span
					a( title=`${moment(reply.created)}` style="text-decoration: none; color: #000") &bull; #{moment(reply.created).fromNow()}
				if user && (reply.author.equals(user._id) || user.moderator)
					span  &bull;
					span
					if user.lang == 'en'
						a(href=`/delete/${reply._id}` style="text-decoration: none; color: #000")  Delete
					else
						a(href=`/delete/${reply._id}` style="text-decoration: none; color: #000")  Supprimer
