mixin replyForm(reqSquak)
	form.tweet_card(action=`/api/squaks/${reqSquak._id}/reply` method='POST' enctype='multipart/form-data')
		.reply_avatar
			a(href=`/${user.username}`)
				img(src=`${user.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			if user.lang == 'en'
				textarea(name='reply' class='squak_textarea' placeholder='Share your thoughts...' maxlength="1024" id='squak_textarea')
				.outputfile(id="outputfile")
				.icon_set(name="reply" id='icon_set')
					.icon-1
						label(for="uploadimg")
							i.fa.fa-image.icon-pic(style="cursor: pointer;" width="15px" height="15px")
						input(type="file" name="image" style="display: none;" id="uploadimg" accept='image/*' onchange="getOutput('image')")
					.icon-2
						label(for="uploadvideo")
							i.fa.fa-film(style="cursor: pointer;" title="Add video")
						input(type="file" name="video" style="display: none;" id="uploadvideo" accept='video/*' onchange="getOutput('video')")
					.icon-3
						i.fa.fa-smile-o(style="cursor: pointer;" title="Emojis" onclick="toggleEmoji()" id="emojiButton")
					.emojiMenu
						emoji-picker(class=theme locale="fr" data-source="https://cdn.jsdelivr.net/npm/emoji-picker-element-data@%5E1/fr/emojibase/data.json")
				.reply_button
					input(type='submit' class='button reply_button' value='Reply')
			else
				textarea(name='reply' class='squak_textarea' placeholder='Exprimez-vous...' maxlength="1024" id='squak_textarea')
				.outputfilerep(id="outputfile")
				.icon_set(name="reply" id='icon_set')
					.icon-1
						label(for="uploadimg")
							i.fa.fa-image.icon-pic(style="cursor: pointer;")
						input(type="file" name="image" style="display: none;" id="uploadimg" accept='image/*' onchange="getOutput('image')")
					.icon-2
						label(for="uploadvideo")
							i.fa.fa-film(style="cursor: pointer;" title="Ajouter une vidéo")
						input(type="file" name="video" style="display: none;" id="uploadvideo" accept='video/*' onchange="getOutput('video')")
					.icon-3
						i.fa.fa-smile-o(style="cursor: pointer;" title="Emojis" onclick="toggleEmoji()" id="emojiButton")
					.emojiMenu
						emoji-picker(class=theme locale="fr" data-source="https://cdn.jsdelivr.net/npm/emoji-picker-element-data@%5E1/fr/emojibase/data.json")
				.reply_button
					input(type='submit' class='button reply_button' value='Répondre')

