mixin searchBar()
	form(action="/search")
		if typesearch
			input(type='text' name="type" value=`${typesearch}` style="display: none;")
		if user && user.lang == "en"
			if query
				input.searchTerm(type='text' placeholder=`Search on ${appname}...` name="query" autocomplete="off" value=`${query}`)
			else
				input.searchTerm(type='text' placeholder=`Search on ${appname}...` name="query" autocomplete="off")
		else
			if query
				input.searchTerm(type='text' placeholder=`Rechercher sur ${appname}...` name="query" autocomplete="off" value=`${query}`)
			else
				input.searchTerm(type='text' placeholder=`Rechercher sur ${appname}...` name="query" autocomplete="off")
		button.searchButton(type='submit')
			i.fa.fa-search
