mixin tweetCard(squak={})
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${squak.author.username}` name=`${squak._id}`)
				img(src=`${squak.author.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			p.author_name(style="display: inline;")
				a(href=`/${squak.author.username}`)
					if (squak.author.verified)
						strong(style="vertical-align:middle;") #{squak.author.name || squak.author.username}
						img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{squak.author.name || squak.author.username}
				span  @#{squak.author.username}
			a(href=`/squak/${squak._id}` style="text-decoration:none; color: #000")
				div
					p.the_tweet #{squak.tweet}
			p.tweet_meta
				if user
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(squak._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							| ❤
				span
					a(href=`/squak/${squak._id}` title=`${moment(squak.created)}` style="text-decoration: none; color: #000") #{moment(squak.created).fromNow()}
				if user && (squak.author.equals(user._id) || user.moderator)
					span  &middot;
					span
					a(href=`/delete/${squak._id}` style="text-decoration: none; color: #000")  Supprimer
