mixin tweetCard(tweet={})
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${tweet.author.username}`)
				img(src=`${tweet.author.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			p.author_name(style="display: inline;")
				a(href=`/${tweet.author.username}`)
					if (tweet.author.verified)
						strong #{tweet.author.name || tweet.author.username}
						img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 5px 5px;" title="Utilisateur vérifié")
					else
						strong #{tweet.author.name || tweet.author.username}
				span  @#{tweet.author.username}
			a(href=`/nweet/${tweet._id}` style="text-decoration:none; color: #000")
				div
					p.the_tweet #{tweet.tweet}
			p.tweet_meta
				if user
					form.heart(method='POST' action=`/api/tweets/${tweet._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(tweet._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							| ❤
				span
					a(href=`/nweet/${tweet._id}` title=`${moment(tweet.created)}` style="text-decoration: none; color: #000") #{moment(tweet.created).fromNow()}
				if user && (tweet.author.equals(user._id) || user.moderator)
					span  &middot;
					span
					a(href=`/delete/${tweet._id}` style="text-decoration: none; color: #000")  Supprimer
