mixin tweetCard(squak)
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${squak.author.username}` name=`${squak._id}`)
				img(src=`${squak.author.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			.author_name(style="display: inline;")
				a(href=`/${squak.author.username}` style="text-decoration: none;")
					if (squak.author.verified)
						strong(style="vertical-align:middle;") #{squak.author.name || squak.author.username}
						img(src="/uploads/c4ze18c.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{squak.author.name || squak.author.username}
				a(href=`/${squak.author.username}` style="text-decoration: none; color: #333333")
					span  @#{squak.author.username}
			div.block
				a.overlay(href=`/squak/${squak._id}`)
				.inner
					.the_tweet(style="color: #000")
						| !{squak.content || squak.tweet}
						if (squak.image)
							if (squak.tweet)
								br
							.squakimg(style=`background-image: url(${squak.image});`)

			.tweet_meta
				if user
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(squak._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{squak.likes.toString()}
				else
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						button(type='submit' name='heart' style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{squak.likes.toString()}
				form.heart(method='POST' action=`/squak/${squak._id}` style="display: inline;")
					button(type='submit' name='reply' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px")
						i.fa.fa-comment
						small  #{squak.replies.toString()}
				span
					a(href=`/squak/${squak._id}` title=`${moment(squak.created)}` style="text-decoration: none; color: #000")  &middot; #{moment(squak.created).fromNow()}
				if user && (squak.author.equals(user._id) || user.moderator)
					span  &middot;
					span
					if user.lang == 'en'
						a(href=`/delete/${squak._id}` style="text-decoration: none; color: #000")  Delete
					else
						a(href=`/delete/${squak._id}` style="text-decoration: none; color: #000")  Supprimer
