mixin tweetCard(squak)
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${squak.author.username}` name=`${squak._id}`)
				img(src=`${squak.author.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			.author_name(style="display: inline;")
				a(href=`/${squak.author.username}` style="text-decoration: none;")
					if (squak.author.verified)
						strong(style="vertical-align:middle;") #{squak.author.name || squak.author.username}
						img(src="/uploads/c4ze18c.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{squak.author.name || squak.author.username}
				a(href=`/${squak.author.username}` style="text-decoration: none; color: #333333")
					span  @#{squak.author.username}
			div.block
				unless (squak.video && !squak.tweet)
					a.overlay(href=`/squak/${squak.shortid || squak._id}`)
				.inner
					.the_tweet(style="color: #000")
						if query
							if squak.content
								//| !{squak.content.split(`${query}`).join(`<mark>${query}</mark>`)}
								| !{squak.content.replace(new RegExp("(^|>)([^<>]*)(" + query + ")([^<>]*)", 'gim'), `$1$2<mark>$3</mark>$4`)}
							else
								| !{squak.tweet.split(`(?i)${query}`).join(`<mark>${query}</mark>`)}
						else
							| !{squak.content || squak.tweet}
						if (squak.image)
							if (squak.tweet)
								br
							.squakimg(style=`background-image: url(${squak.image}); margin-top: 3px;`)
			if (squak.video)
				.video-mask
					video(controls crossorigin playsinline width="350")
						source(src=`${squak.video}` type="video/mp4")

			.tweet_meta
				if user
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						- const heartStrings = user.hearts.map(obj => obj.toString())
						- const heartClass = heartStrings.includes(squak._id.toString()) ? 'hearted' : ''
						button(type='submit' name='heart' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{squak.likes.toString()}
				else
					form.heart(method='POST' action=`/api/tweets/${squak._id}/heart` style="display: inline;")
						button(type='submit' name='heart' style="border:none; background: none; cursor: pointer; padding-top:5px" title="Like !")
							i.fa.fa-heart
							small  #{squak.likes.toString()}
				form.heart(method='POST' action=`/squak/${squak._id}` style="display: inline;")
					button(type='submit' name='reply' class=heartClass style="border:none; background: none; cursor: pointer; padding-top:5px;")
						i.fa.fa-comment
						small  #{squak.replies.toString()}
				span
					a(href=`/squak/${squak._id}` title=`${moment(squak.created)}` style="text-decoration: none; color: #000")  &bull; #{moment(squak.created).fromNow()}
				if user && (squak.author.equals(user._id) || user.moderator)
					span  &bull;
					span
					if user.lang == 'en'
						a(href=`/delete/${squak._id}` style="text-decoration: none; color: #000")  Delete
					else
						a(href=`/delete/${squak._id}` style="text-decoration: none; color: #000")  Supprimer
