mixin tweetCard(tweet={})
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${tweet.author.username}`)
				img(src=`/uploads/${tweet.author.avatar || 'no-avatar.jpg'}`)
		.tweet_text
			p.author_name(style="display: inline;")
				a(href=`/${tweet.author.username}`)
					if (tweet.author.equals('5f1d6f018c3e615140eb1bac') || tweet.author.equals('5f1daf2680067f0017a9a7e8'))
						strong #{tweet.author.name || tweet.author.username}
						img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Twitter_Verified_Badge.svg/1200px-Twitter_Verified_Badge.svg.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{tweet.author.name || tweet.author.username}
				span  @#{tweet.author.username}
			a(href=`/tweet/${tweet._id}` style="text-decoration:none; color: #000")
				div
					p.the_tweet #{tweet.tweet}
			p.tweet_actions
				//- if user
				//- 	form.heart(method='POST' action=`/api/tweets/${tweet._id}/heart`)
				//- 		- const heartStrings = user.hearts.map(obj => obj.toString())
				//- 		- const heartClass = heartStrings.includes(tweet._id.toString()) ? 'hearted' : ''
				//- 		button(type='submit' name='heart' class=heartClass)
				//- 			| ♥
			p.tweet_meta
				span
					a(href=`/tweet/${tweet._id}` title=`${tweet.created}`) #{moment(tweet.created).fromNow()}
				if user && (tweet.author.equals(user._id) || user.username == 'n')
					span  &middot;
					span
					a(href=`/delete/${tweet._id}`) Supprimer
