mixin nweetCard(nweet={})
	.nweet_card.nweet_hover
		.nweet_avatar
			a(href=`/${nweet.author.username}`)
				img(src=`/uploads/${nweet.author.avatar || 'no-avatar.jpg'}`)
		.nweet_text
			p.author_name
				a(href=`/${nweet.author.username}`)
					strong #{nweet.author.name || nweet.author.username}
				span  @#{nweet.author.username}
			a(href=`/nweet/${nweet._id}` style="text-decoration:none; color: #000")
				div
					p.the_nweet #{nweet.nweet}
			p.nweet_actions
				//- if user
				//- 	form.heart(method='POST' action=`/api/nweets/${nweet._id}/heart`)
				//- 		- const heartStrings = user.hearts.map(obj => obj.toString())
				//- 		- const heartClass = heartStrings.includes(nweet._id.toString()) ? 'hearted' : ''
				//- 		button(type='submit' name='heart' class=heartClass)
				//- 			| ♥
			p.nweet_meta
				span
					a(href=`/nweet/${nweet._id}` title=`${nweet.created}`) #{moment(nweet.created).fromNow()}
				if user && (nweet.author.equals(user._id) || user.username == 'n')
					span  &middot;
					span
					a(href=`/delete/${nweet._id}`) Supprimer
