mixin userCard(searchuser)
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${searchuser.username}`)
				img(src=`${searchuser.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			p.author_name(style="display: inline;")
				a(href=`/${searchuser.username}` style="text-decoration: none;")
					if (searchuser.verified)
						strong(style="vertical-align:middle;") #{searchuser.name || searchuser.username}
						img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{searchuser.name || searchuser.username}
				a(href=`/${searchuser.username}` style="text-decoration: none; color: #000")
					span  @#{searchuser.username}
			div
				a(href=`/${searchuser.username}` style="text-decoration: none; color: #000")
					if searchuser.bio
						p.the_bio #{searchuser.bio}
					else
						p.the_bio
							if user && user.lang == 'en'
								i This user didn't set a bio
							else
								i Cet utilisateur n'a pas défini de biographie
