mixin userCard(searchuser)
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${searchuser.username}`)
				img(src=`${searchuser.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			.user_header
				.author_name
					a(href=`/${searchuser.username}` style="text-decoration: none; margin-right: 10px;" title=`@${searchuser.username}`)
						strong #{searchuser.name || searchuser.username}
						if (searchuser.verified)
							img.verificationbadge(src="/uploads/c4ze18c.png" width="20" height="20" title="Utilisateur vérifié")
					br
					a.author_username(href=`/${searchuser.username}` style="font-size: 15px;") @#{searchuser.username}
				.user_buttons
					if user && (searchuser.following.map(obj => obj.toString()).includes(user._id.toString())) && searchuser._id.toString() != user._id.toString()
						span.follows_you
							if user.lang == 'en'
								| Follows you
							else
								| Vous suit
					if user
						if (searchuser._id.toString() != user._id.toString())
							if user.lang == 'en'
								if (user.following.map(obj => obj.toString()).includes(searchuser._id.toString()))
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_followed_button' value=`Following`)
								else
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_follow_button' value=`Follow` )
							else
								if (user.following.map(obj => obj.toString()).includes(searchuser._id.toString()))
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_followed_button' value=`Suivi`)
								else
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_follow_button' value=`Suivre` )
			div
				a(href=`/${searchuser.username}` style="text-decoration: none;")
					if searchuser.bio
						.the_bio #{searchuser.bio}
					else
						.the_bio
							if user && user.lang == 'en'
								i This user didn't set a bio
							else
								i Cet utilisateur n'a pas défini de biographie

