mixin userCard(user)
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${user.username}`)
				img(src=`${user.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			p.author_name(style="display: inline;")
				a(href=`/${user.username}` style="text-decoration: none;")
					if (user.verified)
						strong(style="vertical-align:middle;") #{user.name || user.username}
						img(src="https://i.postimg.cc/P5nK1x1t/Verified-Badge-svg.png" width="20" height="20" style="vertical-align:middle; padding: 0px 0px 0px 5px;" title="Utilisateur vérifié")
					else
						strong #{user.name || user.username}
				a(href=`/${user.username}` style="text-decoration: none; color: #000")
					span  @#{user.username}
			div
				a(href=`/${user.username}` style="text-decoration: none; color: #000")
					if user.bio
						p.the_bio #{user.bio}
					else
						p.the_bio
							i Cet utilisateur n'a pas défini de biographie
