mixin userCard(searchuser)
	.tweet_card.tweet_hover
		.tweet_avatar
			a(href=`/${searchuser.username}`)
				img(src=`${searchuser.avatar || '/uploads/no-avatar.jpg'}`)
		.tweet_text
			.author_name(style="display: inline;")
				a(href=`/${searchuser.username}` style="text-decoration: none;" title=`@${searchuser.username}`)
					if (searchuser.verified)
						strong #{searchuser.name || searchuser.username}
						img.verificationbadge(src="/uploads/c4ze18c.png" width="20" height="20" title="Utilisateur vérifié")
					else
						strong #{searchuser.name || searchuser.username}
				span
					a.author_username(href=`/${searchuser.username}` style="padding-left:5px;") @#{searchuser.username}
					| &nbsp;&nbsp;
					if user
						if (searchuser._id.toString() != user._id.toString())
							if user.lang == 'en'
								if (user.following.map(obj => obj.toString()).includes(searchuser._id.toString()))
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_followed_button' value=`Following`)
								else
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_follow_button' value=`Follow` )
							else
								if (user.following.map(obj => obj.toString()).includes(searchuser._id.toString()))
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_followed_button' value=`Suivi`)
								else
									input(type="button" onclick=`window.location.href = "/api/users/${searchuser._id}/follow";` class='button mini_follow_button' value=`Suivre` )
			div
				a(href=`/${searchuser.username}` style="text-decoration: none;")
					if searchuser.bio
						.the_bio #{searchuser.bio}
					else
						.the_bio
							if user && user.lang == 'en'
								i This user didn't set a bio
							else
								i Cet utilisateur n'a pas défini de biographie

